.comment{

  &-image {
  }

  &-img {
    border-radius: 50%;
    overflow: hidden;
  }

  &-content {
    text-align: center;
  }

  &-text {
    font-style: italic;
  }

  &-author {
    font-size: 75%;
  }

  &-about {
    font-size: 60%;
    color: #777;
  }




}
