.desc {

  // margin-bottom: $gutter;
  display: inline-flex;


  &-image {
    width: $gutter;
    height: $gutter;
  }

  &-img {
    height: 100%;
  }

  &-content {
    display: block;
  }

  &-header{
    font-weight: bold;
  }

  &-text {
    font-size: 0.75rem;
  }
}
